#homepage-header {
    text-align: center;
    margin: 6rem 0rem 0rem;
}
#school-dropdown {
    width: 100%;
}
.form-col {
    text-align: center;
    padding: 0px 10px;
}
.form-label {
    overflow: hidden;
    white-space: nowrap;
    margin-left: -100%;
    margin-right: -100%;
}
.homepage-row {
    margin: 60px 0px;
}
.homepage-form {
    padding-bottom: calc(.5em + .25rem + 1px);
}
.eq-text {
    font-size: 3vw;
    font-weight: bold;
    white-space: pre;
    display: table-cell;
    padding: 0px 25px;
}
.constant {
    padding: 0px
}
.multiplier {
    font-size: 2.25vw;
    padding: 0px 5px;
    vertical-align: middle;
}
.parenthesis {
    font-size: 4rem;
    padding: 0px 0px 5px 0px;
}
#debt-header {
    text-align: center;
    margin-bottom: 0px;
    font-style: italic;
}
#debt-total {
    text-align: center;
    font-weight: bold;
}
#debt-row {
    margin-top: 5rem;
}
@media screen and (max-width: 991px) {
    body { font-size: 3.5vw; }
    h1 { font-size: 7vw; }
    .homepage-form {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .eq-text {
        font-size: 2rem;
    }
    .multiplier {
        font-size: 1.5rem;
    }
    .parenthesis {
        display: none;
    }
    .plusminus {
        width: 100vw;
        text-align: center;
        padding: .75rem 0rem;
    }
    #debt-total {
        font-size: 14vw;
        overflow: hidden;
        white-space: nowrap;
        margin-left: -10%;
        margin-right: -10%;
    }
    .large-only {
        display: None;
    }
}
@media screen and (min-width: 991px) {
    body { font-size: 1vw; }
    h1 { font-size: 2.5vw; }
    #debt-total {
        font-size: 7vw;
    }
    .mobile-only {
        display: none;
    }
}