body { font-size: 1vw; }
h1 { font-size: 2.5vw; }
#homepage-header {
    text-align: center;
    margin: 8vh .5vh 0vh;
}
#school-dropdown {
    width: 100%;
}
.form-col {
    text-align: center;
}
.form-label {
    overflow: hidden;
    white-space: nowrap;
}
.homepage-row {
    margin: 60px 0px;
}
.operator {
    font-size: 3vw;
    font-weight: bold;
    margin: 9px 20px 0px;
    white-space: pre;
}
.parenthesis {
    font-size: 4.5vw;
    font-weight: bold;
    margin: 0px 0px 0px;
    white-space: pre;
}
#debt-header {
    text-align: center;
    margin-bottom: 0px;
    font-style: italic;
}
#debt-total {
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
}
#debt-row {
    margin-top: 100px;
}